{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Sugandh Admin</title>
  <!-- base:css -->
  <link rel="stylesheet" href="{% static 'vendors/typicons/typicons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/imageuploadify.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom-style.css' %}">
  <link rel="stylesheet" href="{% static 'css/main-style.css' %}">
<link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'css/fine-uploader-new.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% block javascript %}

    {% endblock %}
</head>
<body>
 <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
          <a class="navbar-brand brand-logo" href="index-2.html">Sugandh</a>
          <a class="navbar-brand brand-logo-mini" href="index-2.html">Sugandh</a>
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="typcn typcn-th-menu"></span>
          </button>
        </div>
      </div>
      <!-- <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end"> -->
        <div class="navbar-menu-wrapper">
        <div class="admin-logo pull-left">
            <img src= "{% static 'images/sugandh-logo.png' %}">
        </div>
        <ul class="navbar-nav mr-lg-2 pull-right p-t-25">
          <li class="nav-item">
            <div class="d-flex align-items-baseline">
              <p class="mb-0">Home</p>
              <i class="typcn typcn-chevron-right"></i>
              <p class="mb-0">Main Dahboard</p>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="typcn typcn-th-menu"></span>
        </button>
      </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
      <div id="right-sidebar" class="settings-panel">
        <i class="settings-close typcn typcn-times"></i>
        <ul class="nav nav-tabs" id="setting-panel" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab" aria-controls="chats-section">CHATS</a>
          </li>
        </ul>
        <div class="tab-content" id="setting-content">
          <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
            <div class="add-items d-flex px-3 mb-0">
              <form class="form w-100">
                <div class="form-group d-flex">
                  <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                  <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
                </div>
              </form>
            </div>
            <div class="list-wrapper px-3">
              <ul class="d-flex flex-column-reverse todo-list">
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Team review meeting at 3.00 PM
                    </label>
                  </div>
                  <i class="remove typcn typcn-delete-outline"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Prepare for presentation
                    </label>
                  </div>
                  <i class="remove typcn typcn-delete-outline"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Resolve all the low priority tickets due today
                    </label>
                  </div>
                  <i class="remove typcn typcn-delete-outline"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Schedule meeting for next week
                    </label>
                  </div>
                  <i class="remove typcn typcn-delete-outline"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Project review
                    </label>
                  </div>
                  <i class="remove typcn typcn-delete-outline"></i>
                </li>
              </ul>
            </div>
            <div class="events py-4 border-bottom px-3">
              <div class="wrapper d-flex mb-2">
                <i class="typcn typcn-media-record-outline text-primary mr-2"></i>
                <span>Feb 11 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Creating component page</p>
              <p class="text-gray mb-0">build a js based app</p>
            </div>
            <div class="events pt-4 px-3">
              <div class="wrapper d-flex mb-2">
                <i class="typcn typcn-media-record-outline text-primary mr-2"></i>
                <span>Feb 7 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
              <p class="text-gray mb-0 ">Call Sarah Graves</p>
            </div>
          </div>
        </div>
      </div>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url "index" %}">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">Dashboard</span>
              <div class="badge badge-danger">new</div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="typcn typcn-archive menu-icon"></i>
              <span class="menu-title">Orders</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="customers.html">
              <i class="typcn typcn-archive menu-icon"></i>
              <span class="menu-title">Customers</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Products</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="product.html">Manage Products</a></li>
                <li class="nav-item"> <a class="nav-link" href="brand.html">Brands</a></li>
                <li class="nav-item"> <a class="nav-link" href="stock.html">Stock</a></li>
                <li class="nav-item"> <a class="nav-link" href="javascript:;">Import Wizard</a></li>
                <li class="nav-item"> <a class="nav-link" href="collection.html">Collection</a></li>
                <li class="nav-item"> <a class="nav-link" href="collection.html">Fabric</a></li>
                <li class="nav-item"> <a class="nav-link" href="collection.html">Sizes</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="typcn typcn-archive menu-icon"></i>
              <span class="menu-title">Upcycled Products</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="typcn typcn-archive menu-icon"></i>
              <span class="menu-title">Sales</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="typcn typcn-archive menu-icon"></i>
              <span class="menu-title">Discount</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="reseller.html">
              <i class="typcn typcn-archive menu-icon"></i>
              <span class="menu-title">Resellers</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blogs.html">
              <i class="typcn typcn-archive menu-icon"></i>
              <span class="menu-title">Blogs</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="typcn typcn-archive menu-icon"></i>
              <span class="menu-title">Analytics</span>
            </a>
          </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic-two" aria-expanded="false" aria-controls="ui-basic-two">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Global Setting</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic-two">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="setting.html">Banner</a></li>
              </ul>
            </div>
             <div class="collapse" id="ui-basic-two">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="About-Us">About Us</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>



      {% block content %}
      {% endblock %}


     <footer class="footer">
            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a href="https://www.urbanui.com/" class="text-muted" target="_blank">Urbanui</a>. All rights reserved.</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center text-muted">Hand-crafted & made with <i class="typcn typcn-heart-full-outline text-danger"></i></span>
                    </div>
                </div>
            </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- base:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <!-- endinject -->
  <script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <script src="{% static 'js/data-table.js' %}"></script>
  <!-- End custom js for this page-->
  <!-- plugin js for this page -->
  <script src="{% static 'vendors/jquery-steps/jquery.steps.min.js' %}"></script>
  <script src="{% static 'vendors/jquery-validation/jquery.validate.min.js' %}"></script>
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <script src="{% static 'js/wizard.js' %}"></script>
  <!-- Custom js for this page-->
  <script src="{% static 'js/dashboard.js' %}"></script>

  <script src="{% static 'js/fine-uploader.js' %}"></script>
 <script src="{% static 'js/imageuploadify.js' %}"></script>
 <script src="{% static 'js/imageuploadifycover.js' %}"></script>
  <script src="{% static 'js/all-main.js' %}"></script>
  <!-- End custom js for this page-->
</body>
<!-- Mirrored from www.urbanui.com/polluxui/template/demo/vertical-default-light/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 10 Jun 2019 17:39:23 GMT -->
</html>